%h1 Listing users

%table
  - @users.each do |user|
    %tr
      %td
        %b= hamlink_to user, :text => user.name
      %td= hamlink_to :edit, user
      %td= hamlink_to :destroy, user

%p= hamlink_to :new, User
